/*-------------------------------------------------*/
/*                ELIPSE LEFT                      */
/*-------------------------------------------------*/

@media(max-width: 900px){
    
    header.container div.elipse-container div.elpise-left{
        display: none;
    }

    header.container div.elipse-container div.elipse-right div.cicle-right-one{
        left: 240px;
        top: 40px;
    }
    
    header.container div.elipse-container div.elipse-right div.cicle-right-two{
        left: 190px;
        top: 10px;
    }
    
    header.container div.elipse-container div.elipse-right div.cicle-right-three{
        left: 90px;
        top: 30px;
    }
    
    header.container div.elipse-container div.elipse-right div.cicle-right-four{
        left: 40px;
        top: 10px;
    }
}

/*-------------------------------------------------*/
/*                INFORMAÇÕES E FORM               */
/*-------------------------------------------------*/

@media(max-width: 1000px){
    header.container div.information-container{
        padding: 0 1rem;
    }
}

/*-------------------------------------------------*/
/*              SECTION SOCIAL MEDIA               */
/*-------------------------------------------------*/

@media(max-width: 670px){
    main section.social-media div.contact a span{
        display: none;
    }

    main section.social-media div.contact ion-icon{
        font-size: 3rem;
    }
}

/*-------------------------------------------------*/
/*                      FOOTER                     */
/*-------------------------------------------------*/

@media(max-width: 415px){
    footer a{
        padding: 1rem 5rem;
    }
}